name: Build and Deploy to Azure

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker Compose images
      run: |
        docker compose -f docker-compose.yml build
        docker compose -f docker-compose.yml push

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Login via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.AZURE_SERVER_IP }}
        username: ${{ secrets.AZURE_SERVER_USERNAME }}
        password: ${{ secrets.AZURE_SERVER_PASSWORD }}
        script: |
          cd C:\Server\tutorials-systems
          docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"
          docker compose -f docker-compose.yml pull
          docker compose -f docker-compose.yml down
          docker compose -f docker-compose.yml up -d
